<ion-view view-title="{{'menu_7'| translate}}">
  <ion-content class='fontWhite'  style="background-image: url('img/barbersnet/bg_fondo.png'); background-size: cover;">    
    <br/>
    <center>
        <h4 style="color: #FFFFFF">{{'slogan_barber'| translate}}</h4>
        <br/>
        <a href="http://barbersnet.com" target="_new"><img width="50%" src="img/barbersnet/logo.png" /></a>
        <br/>
        <a href="mailto:info@barbersnet.com" class="fontWhite">info@barbersnet.com</a>
        <br/>    
        <h4 class="fontWhite">{{'developed_by'| translate}}:</h4>
        <br/>
        <a href="http://mobolapps.com" target="_new"><img width="100%" src="img/logo_mobolapps.png" /></a>
        <br/>
        <a href="mailto:contacto@mobolapps.com" class="fontWhite">contacto@mobolapps.com</a>
        <p>App version date: August 14, 2017</p>
    </center>    
  </ion-content>
</ion-view>