<ion-view view-title="{{'menu_6'|translate}}">
  <ion-content  style="background-image: url('img/barbersnet/bg_fondo.png'); background-size: cover;">    
    <br/>
    <ion-list>
        <div class="card">
            <ion-item class="item-barber">
                {{'resources_one'|translate}}<br>{{'resources_two'|translate}}   
            </ion-item>
            <ion-item class="item-image item-barber">
                <div class="video-container" >
                    <iframe  src="https://www.youtube.com/embed/ih2QtIYbRPA" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
            
            <a class="item item-icon-left assertive item-barber" href="https://youtu.be/ih2QtIYbRPA">
                <i class="icon ion-social-youtube"></i>
                YouTube
            </a>
        </div>
        <div class="card">
            <ion-item class="item-barber">
                {{'menu_4'|translate}}  
            </ion-item>
            <ion-item class="item-image item-barber">
                <div class="video-container" >
                    <iframe  src="https://www.youtube.com/embed/IqNTwCad0uQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
            
            <a class="item item-icon-left assertive item-barber" href="https://youtu.be/IqNTwCad0uQ">
                <i class="icon ion-social-youtube"></i>
                YouTube
            </a>
        </div>
        <div class="card">
            <ion-item class="item-barber">
                {{'menu_2'|translate}}
            </ion-item>
            <ion-item class="item-image item-barber">
                <div class="video-container" >
                    <iframe  src="https://www.youtube.com/embed/XKEVob0dHSE" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
            
            <a class="item item-icon-left assertive item-barber" href="https://youtu.be/XKEVob0dHSE">
                <i class="icon ion-social-youtube"></i>
                YouTube
            </a>
        </div>
        <div class="card">
            <ion-item class="item-barber">
                {{'menu_1'|translate}}  
            </ion-item>
            <ion-item class="item-image item-barber">
                <div class="video-container" >
                    <iframe  src="https://www.youtube.com/embed/3jiql3_CRUM" frameborder="0" allowfullscreen></iframe>
                </div>
            </ion-item>
            
            <a class="item item-icon-left assertive item-barber" href="https://youtu.be/3jiql3_CRUM">
                <i class="icon ion-social-youtube"></i>
                YouTube
            </a>
        </div>
    </ion-list>
  </ion-content>
</ion-view>